.m-nav-item{display: inline-block;margin: 0 10px;font-size: 36px;font-weight: bold;color: #333333;cursor: pointer;}
.m-nav-item.active{color:#f66f0c;border-bottom: 2px solid #f66f0c;}
.m-list{margin: 10px;}
.m-list-item{margin: 10px 0 0 0;}
.m-list-img{width: 100%;}
.m-list-name{text-align: center;font-size: 24px;color: #333333;}