.m-list{position: absolute;top: 0;right: 0;width: 400px;}
.m-list-item{position: relative; list-style-type: none;padding: 0 10px 0; height: 50px; border: 1px solid #333333;cursor: pointer;}
.m-list-item-name{display: inline-block;margin: 10px 0 0 0;padding: 0 10px; height: 30px;line-height: 30px; background-color: #b1b1b1;border: 1px solid #333333;}
.m-list-item-status{margin: 0 10px;}
.m-list-item-code{color: #7bfaab;}
.m-list-item-code.active{color: red;}
.m-list-item-time{position: absolute;top: 10px;right: 10px;}
.m-message-box{display: none; position: absolute;top: 0; right: 365px;padding: 5px; width: 200px;height: 100px;border: 1px solid #f66f0c;}
.m-message-box.active{display: inline-block;}
.m-message-box.big{width: 300px;height: 120px;}
.m-message-box-title{line-height: 40px;font-size: 24px;font-weight: bold;color: #333333;}
.m-message-box-num{margin: 0 5px; font-weight: bold;}













