.m-detail-img{width: 100%;}
.m-detail-title{margin: 5px; font-size: 20px;font-weight: bold;}
.m-more-list-data{text-align: center;line-height: 50px;color: #999999;background: #dddddd; cursor: pointer;}








